* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

html {
  background-color: rgb(13, 1, 67);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/*-- Dashbord styling --*/

.dashboard {
  background-color: rgb(13, 13, 117);
  color: white;
}

.dash-icon {
  width: 5vw;
  height: auto;
  margin-right: 15px;
} 

.dash-head {
  display: flex;
  align-items: center;
  margin-top: 10vh;
  margin-left: 15px;
  margin-bottom: 30px;
}

.dash-head-text {
  font-size: 25px;
}

.link {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 20px;
  margin-top: 5px;
}

.link img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

/*-- Main styling --*/

.main {
  display: grid;
  background-color: rgb(13, 1, 67);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 30vh 70%;
}

/*-- Header --*/

.header {
  background-color: rgb(39, 41, 144);
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 1.25fr;
  grid-template-columns: 1.5fr 4fr;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 2vw;
  margin-top: 3vh;
}

.search-btn {
  border: none;
  background-color: rgb(39, 41, 144);
  margin-right: 10px;
}

.search-icon {
  height: 30px;
  width: auto;
}

.searchbar {
  width: 30vw;
}

.profile {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-top: 2vh;
  float: right;
  margin-left: auto;
  margin-right: 3vw;
}

.notifications {
  width: 35px;
  height: auto;
  margin-right: 2vw;
}

.user {
  width: 35px;
  height: auto;
  background-color: grey;
  border-radius: 35px;
  margin-right: 10px;
}

.hello {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 5vw;
  font-size: 20px;
}

.hello span {
  font-size: 30px;
  font-weight: bold;
}

.hello-icon {
  height: 65px; 
  width: auto;
  background-color: grey;
  border-radius: 65px;
  margin-right: 1vw;
}

.buttons {
  margin-top: 2vh;
  float: right;
  margin-left: auto;
  margin-right: 3vw;
}

.buttons button {
  border: none;
  background-color: rgb(35, 35, 252);
  border-radius: 10px;
  height: 45px;
  width: 80px;
  color: white;
  font-size: 20px;
  margin: 10px;
  
}

/*-- Projects --*/

.projects {
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: blue;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  width: 300px;
}

.card-head {
  font-size: 20px;
}

.cards div img {
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 280px;
  height: auto;
}

.project-head {
  font-size: 30px;
  margin: 20px;
}

/*-- Right side --*/

.right {

}